@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-outfit: "Outfit", "sans-serif";
  --font-ovo: "Ovo", "serif";

  --color-lightHover: oklch(0.98 0.0168 316.94);
  --color-darkHover: oklch(0.23 0.1212 303.2);
  --color-darkTheme: oklch(0.14 0.0715 307.42);

  --shadow-black: 4px 4px 0 oklch(0 0 0);
  --shadow-white: 4px 4px 0 oklch(1 0 0);

  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));
}